:root{
  --clr-dark:#070a13;
  --clr-light:#f1f5f9;
  --clr-slate400:#94a3b8;
  --clr-slate600:#475569;
  --clr-slate800:#1e293b;
  --clr-rose:#e11d48;
  --clr-indigo:#4f46e5;
}
.btn{
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--clr-rose);
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(225,29,72,0.5),0px 6px 6px rgba(225,29,72,0.5), 0px 0px 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0px 14px 28px rgba(225,29,72,0.25),0px 10px 10px rgba(225,29,72,0.22), 0px 0px 120px -10px var(--clr-rose);
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}

.icon{
  display: flex;
  justify-items: center;
  color: var(--clr-slate600);
  width: 1.75rem;
  height: 1.75rem;
  margin-bottom: 1rem;
}

.footer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: -0.7rem;
}

.section{
  margin-top: 5rem;
}


@media (min-width: 360px) {
  .container{
    max-width: 360px;    
  }
}

@media (min-width: 480px) {}
.container{
  max-width: 480px;
}

@media (min-width: 720px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 1080px) {
  .container{
    max-width: 1080px;
  }
  .section{
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .container{
    max-width: 1280px;
  }
}

